@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
	height: 100%;
}

body {
	margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.main-content {
  max-width: 720px;
  margin: 3rem auto;
}

.header-height-placeholder {
  width: 100%;
  height: 3rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.incentive {
  margin-top: 3rem;
  text-align: center;
}

.flex-spacer {
  flex: auto;
}